[Unit]
Description=Mtpolicyd hourly,daily,weekly service unit

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/mtpolicyd -f -l 4 --cron hourly,daily,weekly
Type=oneshot
User=mtpolicyd
